@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-backg{
  background: conic-gradient(from 90deg at 50% 50%, rgba(0, 207, 46, 1) 0%, rgba(4, 250, 0, 1) 14%, rgba(110, 255, 93, 1) 48%, rgba(176, 255, 84, 1) 52%, rgba(216, 238, 130, 1) 100%);
}



