@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-backg{
  background: hsla(111, 63%, 59%, 1);
  
  background: linear-gradient(315deg, hsla(111, 63%, 59%, 1) 0%, hsla(103, 44%, 50%, 1) 25%, hsla(104, 69%, 29%, 1) 100%);
  
  background: -moz-linear-gradient(315deg, hsla(111, 63%, 59%, 1) 0%, hsla(103, 44%, 50%, 1) 25%, hsla(104, 69%, 29%, 1) 100%);
  
  background: -webkit-linear-gradient(315deg, hsla(111, 63%, 59%, 1) 0%, hsla(103, 44%, 50%, 1) 25%, hsla(104, 69%, 29%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#68D854", endColorstr="#67B647", GradientType=1);
  z-index: -1;
}



